@page
@model COPVETFinances.Pages.Sport.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Expenditure on Sport</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportExpenses[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportExpenses[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportExpenses[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportExpenses[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SportExpenses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h1> Total Expenditure on Sports = @Model.TotalSport</h1>
