@page
@model COPVETFinances.Pages.Financial_Statement.FinancialStatementModel
@{
}
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .logo-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-section {
        text-align: center;
    }

        .image-section img {
            max-width: 50%; /* Adjust this value as needed */
            max-height: 50%; /* Adjust this value as needed */
        }

    /* Other styles remain the same */
</style>

<div class="logo-container">
    <div class="image-section">
        <img src="~/css/VetLogo.jpeg" alt="Descriptive Alt Text">
    </div>
</div>

<!-- Rest of your page content follows -->

@*<div class="image-section">
    <img src="~/css/VetLogo.jpeg" alt="Descriptive Alt Text">
</div>*@
<style>
    #Container {
        display: flex;
        flex-direction: column;
    }

        #Container > div {
            width: 100%;
            text-align: left;
        }

            #Container > div:nth-child(2) {
                text-align: right;
                margin-top: auto; /* This pushes the Treasurer to the bottom */
            }

            #Container > div:last-child {
                text-align: center;
            }
</style>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h1 style="color: blue;">Financial Statement for Copenhagen Veteran (Period Feb 1, 2024 to April 19, 2024)</h1>



            <h2>  Incomes</h2>
        </div>
       @* <div class="col-6 text-end">
            <a asp-page="/Incomes/NewIncome" class="btn btn-primary">New Income</a>
        </div>*@
    </div>
</div>
<table class="table table-bordered table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Date </th>
            <th>Name</th>
            <th>Description </th>

            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Incomes != null)
        {
            @foreach (var item in Model.Incomes)
            {
                <tr>
                    <td width="30%"> @item.Date</td>
                    <td width="50%"> @item.Name </td>
                    <td width="30%"> @item.Description</td>
                    <td width="30%"> @item.Amount</td>

                   @* <td>
                        <a asp-page="/Incomes/DeleteIncome" asp-route-sid="@item.Id" class="btn btn-danger m-1">Slet </a>
                    </td>
                    <td>
                        <a asp-page="/Leaders/OpdatereLeder" asp-route-sid="@item.Id" class="btn btn-primary m-1">Opdater </a>
                    </td>*@
                </tr>
               
            }
            <tr>
                <td colspan="3">
                    <!-- colspan to span across all columns -->
                    <h4><strong>Registration</strong></h4>
                </td>
                <td width="30%">@Model.Registration</td>


            </tr>
            <tr>
                <td colspan="3">
                    <!-- colspan to span across all columns -->
                    <h4><strong>Total Income</strong></h4>
                </td>
               @* <td width="30%">@Model.totalIncome</td>*@
                <td width="30%" class="green-text">@Model.totalIncome</td>


            </tr>
        }
</table>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>  Expenditures</h2>
        </div>
       @* <div class="col-6 text-end">
            <a asp-page="/Expenses/NewExpenditure" class="btn btn-primary">New Expenditure</a>
        </div>*@
    </div>
</div>
<table class="table table-bordered table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Date </th>

            <th>Name</th>
            <th>Description </th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Expenditure != null)
        {
            @foreach (var item in Model.Expenditure)
            {
                <tr>
                    <td width="30%"> @item.Date</td>
                    <td width="50%"> @item.Name </td>
                    <td width="30%"> @item.Description</td>
                    <td width="30%"> @item.Amount</td>

                  
                </tr>
                 

           
            }
           
                @*<tr>
                        <td colspan="3">
                            <!-- colspan to span across all columns -->
                            <h4><strong>Total Expenditure</strong></h4>
                        </td>
                        <td width="30%" style="color:darkred">@Model.totalExpenditure</td>


                </tr>

                         <tr>
                            <td colspan="3">
                                <!-- colspan to span across all columns -->
                                <h4><strong>Balance in the Account</strong></h4>
                            </td>
                            <td width="30%" style="color:blue">@Model.Balance</td>


                        </tr>*@
        }
</table>
<table class="table table-bordered table table-striped" style="width:100%">
    <thead>
        <h4><strong> Family day Expenses : Amount budgeted = 5000kr</strong></h4>
        <tr>
            <th>Date </th>

            <th>Name</th>
            <th>Description </th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.fam != null)
        {
            @foreach (var item in Model.fam)
            {
                <tr>
                    <td width="30%"> @item.Date</td>
                    <td width="50%"> @item.Name </td>
                    <td width="30%"> @item.Description</td>
                    <td width="30%"> @item.Amount</td>


                </tr>



            }
            <tr>
                <td colspan="3">
                    <!-- colspan to span across all columns -->
                    <h4><strong>Total Family day Expenses</strong></h4>
                </td>
                <td width="30%" style="color:darkred">@Model.totalFamilyExpenditure</td>


            </tr>
            <tr>
                <td colspan="3">
                    <!-- colspan to span across all columns -->
                    <h4><strong>Total Expenditure</strong></h4>
                </td>
                <td width="30%" style="color:darkred">@Model.totalExpenditure</td>


            </tr>

            <tr>
                <td colspan="3">
                    <!-- colspan to span across all columns -->
                    <h4><strong>Balance in the Account</strong></h4>
                </td>
                <td width="30%" style="color:blue">@Model.Balance</td>


            </tr>

           @* <tr>
                <td colspan="3">
                    <!-- colspan to span across all columns -->
                    <h4><strong>Balance in the Account</strong></h4>
                </td>
                <td width="30%" style="color:blue">@Model.Balance</td>


            </tr>*@
        }
</table>
 <div id="Container">
     <div>
        <h4><strong> Financial Secretary</strong></h4>
        
         Elvis Mbah
     </div>
    <div>
        <h4><strong> Treasurer</strong></h4>
        
        Che Nche
    </div>
    <div>
        <h4><strong> President</strong></h4>
        
        Forbisong Bertrand
    </div>


     
 </div>
