@page
@model COPVETFinances.Pages.Party1.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Party</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Party.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Party.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Party.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Party.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Party.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Party.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Party.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Party.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Party.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
